<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here!
 -->
 <form action="/" method="POST" style="max-width:500px;margin:auto">
  <h2>Login</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <h1>write your name:</h1>
    <input class="input-field" type="text" placeholder="quote" name="quote">
  </div>

  <h1>write your age</h1>
    <input class="input-field" type="text" placeholder="age" name="age">
  </div>

  <h1>write the authur's name:</h1>
    <input class="input-field" type="text" placeholder="name" name="name">
  </div>


  <button type="submit" class="btn">Login</button>
</form>
 
</body>
</html>